.container{
    padding: 10px;
    text-align: center;

}


.linksList{
    list-style-type: none;
}

.linksList li a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #27ae60;
    border-radius: 10px;
    margin-top: 10px;
    color: #27ae60;
}

